body {
  background-color: #f7f2f3;
  font-family: Arial, sans-serif;
}

h2 {
  color: #b76e79;
  text-align: center;
}

p {
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #b76e79;
  color: white;
  border: none;
  border-radius: 8px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 40px;
  color: #b76e79;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #555;
  max-width: 600px;
  margin: 0 auto 30px auto;
  line-height: 1.5;
}

.hero button {
  padding: 12px 25px;
  background-color: #b76e79;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.symptoms {
  text-align: center;
  padding: 60px 20px;
}

.symptoms h2 {
  color: #b76e79;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 20px;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
.products {
  text-align: center;
  padding: 60px 20px;
}

.products h2 {
  color: #b76e79;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: #b76e79;
}
.footer {
  text-align: center;
  padding: 50px 20px;
  background-color: #f7f2f3;
  margin-top: 40px;
}

.footer p {
  margin: 5px 0;
  color: #555;
}

.links {
  margin-top: 15px;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: #b76e79;
  font-weight: bold;
}
